.hidden-menu {
    display: block;
    position: fixed;
    list-style: none;
    padding: 20px;
    padding-top: 70px;
    margin: 0;
    box-sizing: border-box;
    width: 250px;
    top: 0;
    right: -250px;
    transition: right .8s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu .blur {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    /* width: 100%; */

}

.hidden-menu .menu-item a {
    color: white;
    text-shadow: red 1px 3px;
    text-decoration: none;
    transition: color 0.5s;
    letter-spacing: 0;
}

.hidden-menu .menu-item a:hover {
    text-shadow: rgb(47, 208, 219) 1px 3px;
    font-size: 30px;
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    color: #fff;
    /* background-color: rgb(243, 9, 9); */
    padding: 5px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.btn-menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}


.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked~.btn-menu {
    /* left: 160px; */
}

.hidden-menu-ticker:checked~.hidden-menu {
    right: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
}

.hidden-menu-ticker:checked~.btn-menu span.second {
    opacity: 0;
}

.hidden-menu-ticker:checked~.btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
}